BOT_TOKEN=your_bot_token_from_BotFather
SPREADSHEET_ID=your_google_sheets_spreadsheet_id
GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@your-project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\nyour_private_key_here\n-----END PRIVATE KEY-----\n
MONOBANK_X_TOKEN=your_monobank_token
